parsers:
  - name: LegacyCXXParser
    package: '@agoraio-extensions/terra-legacy-cxx-parser'
    args:
      includeHeaderDirs:
        - '@agoraio-extensions/terra_shared_configs:headers/rtc_4.2.3.1/include'
      parseFiles:
        include:
          - '@agoraio-extensions/terra_shared_configs:headers/rtc_4.2.3.1/include/*.h'
        exclude:
          - '@agoraio-extensions/terra_shared_configs:headers/rtc_4.2.3.1/include/AgoraRefPtr.h'
          - '@agoraio-extensions/terra_shared_configs:headers/rtc_4.2.3.1/include/time_utils.h'
          - '@agoraio-extensions/terra_shared_configs:headers/rtc_4.2.3.1/include/AgoraOptional.h'
          - '@agoraio-extensions/terra_shared_configs:headers/rtc_4.2.3.1/include/AgoraRefPtr.h'
          - '@agoraio-extensions/terra_shared_configs:headers/rtc_4.2.3.1/include/IAgoraH265Transcoder.h'
          - '@agoraio-extensions/terra_shared_configs:headers/rtc_4.2.3.1/include/IAgoraMediaComponentFactory.h'
          - '@agoraio-extensions/terra_shared_configs:headers/rtc_4.2.3.1/include/IAgoraParameter.h'
      customHeaders:
        - '@agoraio-extensions/terra_shared_configs:headers/rtc_4.2.3.1/custom_headers/*.h'
      language: dart
      legacyRenders:
        - DartSyntaxRender
        - DartEventHandlerParamJsonRender
        - DartCallApiIrisMethodChannelRender
        - DartEventHandlerIrisMethodChannelRender
        - DartStructToJsonSerializableRender
        - DartCallApiEventHandlerBufferExtRender
        - DartForwardExportRender

renderers:
  - name: IrisDocRenderer
    package: '@agoraio-extensions/terra_shared_configs'
    args:
      language: dart
      fmtConfig: fmt_dart.yaml
      exportFilePath: ../../lib/agora_rtc_engine.dart
      templateUrl: https://github.com/AgoraIO/agora_doc_source/releases/download/master-build/flutter_ng_json_template_en.json