parsers:
  - name: CXXParser
    package: '@agoraio-extensions/cxx-parser'
    args:
      includeHeaderDirs:
        - '@agoraio-extensions/terra_shared_configs:headers/rtc_4.3.0/include'
      parseFiles:
        include:
          - '@agoraio-extensions/terra_shared_configs:headers/rtc_4.3.0/include/*.h'
        exclude:
          - '@agoraio-extensions/terra_shared_configs:headers/rtc_4.3.0/include/AgoraRefPtr.h'
          - '@agoraio-extensions/terra_shared_configs:headers/rtc_4.3.0/include/time_utils.h'
          - '@agoraio-extensions/terra_shared_configs:headers/rtc_4.3.0/include/AgoraOptional.h'
          - '@agoraio-extensions/terra_shared_configs:headers/rtc_4.3.0/include/AgoraRefPtr.h'
          - '@agoraio-extensions/terra_shared_configs:headers/rtc_4.3.0/include/IAgoraMediaComponentFactory.h'
          - '@agoraio-extensions/terra_shared_configs:headers/rtc_4.3.0/include/IAgoraParameter.h'

  - name: IrisApiIdParser
    package: '@agoraio-extensions/terra_shared_configs'
  - path: parsers/cud_node_parser.ts
    args:
      configPath: configs/cud_node_parser.config.ts

  - name: PointerToArrayParser
    package: '@agoraio-extensions/terra_shared_configs'

  # This should be ordered in last step
  - name: MergeNodeParser
    package: '@agoraio-extensions/terra_shared_configs'
    args:
      configFilePath: configs/merge_node_list.ts
      ignoreDefaultConfig: true

renderers:
  - path: renderers/event_handlers_renderer.ts
  - path: renderers/event_ids_mapping_renderer.ts