name: CI

on:
  push:
    branches:
      - master
      - 'release/**'
  pull_request:
    branches: [ master ]

jobs:
  # DO NOT run flutter test as this time, because the unit test is broken, will re-enable it 
  # when unit tests being fixed.
  # unittest_flutter:
  #   name: Run Flutter Unit Test
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v1
  #     - uses: actions/setup-java@v1
  #       with:
  #         java-version: '11'
  #     - uses: subosito/flutter-action@v1
  #       with:
  #         flutter-version: '2.5.3'
  #     - run: flutter pub get
  #     - run: flutter test

  unittest_android:
    name: Run Android Unit Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-java@v1
        with:
          java-version: '11'
      - uses: subosito/flutter-action@v1
        with:
          flutter-version: '2.5.3'
      - run: flutter pub get
      - run: bash ci/run_android_test.sh

  unittest_ios:
    name: Run iOS Unit Test
    runs-on: macos-11
    steps:
      - uses: actions/checkout@v1
      - uses: subosito/flutter-action@v1
        with:
          flutter-version: '2.5.3'
      - run: flutter pub get
      - run: bash ci/run_ios_test.sh
  # Temporay disable the android build since it will fail cause by 
  # "No toolchains found in the NDK toolchains folder for ABI with prefix: arm-linux-androideabi" error on ci.
  # This issue can be refer: https://github.com/gradle/gradle/issues/12440#issuecomment-606188282
  # TODO(littlegnal): Upgrade the AGP version to solve this issue, and re-enable this build.
  # build_android:
  #   name: Build Android
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v1
  #     - uses: actions/setup-java@v1
  #       with:
  #         java-version: '11'
  #       with:
  #         flutter-version: '2.5.3'
  #     - run: flutter pub get
  #     - name: Run flutter build apk
  #       run: flutter build apk
  #       working-directory: example

  build_ios:
    name: Build iOS
    runs-on: macos-11
    steps:
      - uses: actions/checkout@v1
      - uses: subosito/flutter-action@v1
        with:
          flutter-version: '2.5.3'
      - run: flutter pub get
      - name: Run flutter build ios --no-codesign
        run: flutter build ios --no-codesign
        working-directory: example
