name: CI

on:
  # pull_request_target:
  #   types: [opened, synchronize]
  #   branches: 
  #     - master
  #     # Temporarily allow check on dev/flutter2-iris branch
  #     - 'dev/flutter2-iris'
    
  push:
    branches: 
      - master
  pull_request:
    branches: 
      - master

jobs:
  flutter_codestyle_check:
    name: Flutter codestyle/analyze check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-java@v1
        with:
          java-version: '11'
      - uses: subosito/flutter-action@v1
        with:
          flutter-version: '2.10.0'
      - run: flutter pub get
      - run: bash ci/dartfmt_check.sh
      - run: flutter analyze

  integration_test_android:
    name: Run Flutter Android Integration Tests
    needs: flutter_codestyle_check
    runs-on: macos-11
    timeout-minutes: 60
    env:
      TEST_APP_ID: ${{ secrets.MY_APP_ID }}
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-java@v1
        with:
          java-version: '11'
      - uses: subosito/flutter-action@v1
        with:
          flutter-version: '2.10.0'
      - name: run flutter android integration tests
        uses: reactivecircus/android-emulator-runner@v2.21.0
        with:
          api-level: 31
          arch: x86_64
          profile: Nexus 6
          script: bash ci/run_flutter_integration_test.sh

  integration_test_ios:
    name: Run Flutter iOS Integration Tests
    needs: flutter_codestyle_check
    runs-on: macos-11
    timeout-minutes: 60
    env:
      TEST_APP_ID: ${{ secrets.MY_APP_ID }}
    steps:
      - uses: actions/checkout@v1
      - uses: subosito/flutter-action@v1
        with:
          flutter-version: '2.10.0'   
      - uses: futureware-tech/simulator-action@v1
        with:
          model: 'iPhone 13 Pro Max'
      - run: bash ci/run_flutter_integration_test.sh

  integration_test_macos:
    name: Run Flutter macOS Integration Tests
    needs: flutter_codestyle_check
    runs-on: macos-11
    timeout-minutes: 60
    env:
      TEST_APP_ID: ${{ secrets.MY_APP_ID }}
    steps:
      - uses: actions/checkout@v1
      - uses: subosito/flutter-action@v1
        with:
          flutter-version: '2.10.0'   
      - run: flutter config --enable-macos-desktop 
      - run: bash ci/run_flutter_macos_integration_test.sh

  integration_test_windows:
    name: Run Flutter Windows Integration Tests
    needs: flutter_codestyle_check
    runs-on: windows-2019
    timeout-minutes: 60
    env:
      TEST_APP_ID: ${{ secrets.MY_APP_ID }}
    steps:
      - uses: actions/checkout@v1
      - uses: subosito/flutter-action@v1
        with:
          flutter-version: '2.10.0'
      - run: flutter config --enable-windows-desktop
      - run: bash ci/run_flutter_macos_integration_test.sh

  unittest_android:
    name: Run Android Unit Test
    needs: flutter_codestyle_check
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-java@v1
        with:
          java-version: '11'
      - uses: subosito/flutter-action@v1
        with:
          flutter-version: '2.10.0'
      - run: flutter pub get
      - run: bash ci/run_android_test.sh

  unittest_ios:
    name: Run iOS Unit Test
    needs: flutter_codestyle_check
    runs-on: macos-11
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v1
      - uses: subosito/flutter-action@v1
        with:
          flutter-version: '2.10.0'
      - run: flutter pub get
      - run: bash ci/run_ios_test.sh
  
  build_android:
    name: Build Android
    needs: flutter_codestyle_check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-java@v1
        with:
          java-version: '11'
      - uses: subosito/flutter-action@v1
        with:
          flutter-version: '2.10.0'
      - run: flutter pub get
      - name: Run flutter build apk
        run: flutter build apk
        working-directory: example

  build_ios:
    name: Build iOS
    needs: flutter_codestyle_check
    runs-on: macos-11
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v1
      - uses: subosito/flutter-action@v1
        with:
          flutter-version: '2.10.0'
      - run: flutter pub get
      - name: Run flutter build ios --no-codesign
        run: flutter build ios --no-codesign
        working-directory: example
